name: Workflow for Android using Fastlane and Firebase App Distribution

on:
  push:
    branches:
      - main

jobs:
  distribute_firebase:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout My Project Repository
      uses: actions/checkout@v2
    
    - name: Set up JDK 24
      uses: actions/setup-java@v2
      with:
        java-version: '24'
        distribution: 'temurin'
    
    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.3.5"
        bundler-cache: true
        working-directory: android
        
    - name: Build and Distribute App
      env:
        FIREBASE_CLI_TOKEN_YOUTUBE: ${{ secrets.FIREBASE_CLI_TOKEN_YOUTUBE}}
      run: |
        bundle exec fastlane android distribute
      working-directory: android